# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
*.o
*.d

# CocoaPods / SPM
Pods/
.build/
*.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor
*.swp
*~
.idea/
